<div class="card mb-3 shadow bg-secondary-subtle">
    <div class="p-5">
        <form>
            <div class="mb-3">
                <h1 class="text-center text-warning">Nuevo Formulario</h1>
                <label for="exampleInputEmail1" class="form-label fw-bold">Título:</label>
                <input type="form-text" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label fw-bold">Nombre Mascota:</label>
                <input type="form-text" class="form-control" id="nombreMascota">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label fw-bold">Última vez visto:</label>
                <input type="date" class="form-control" id="fechaVisto">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">Número de contacto:</label>
                <input type="number" class="form-control" id="numeroContacto">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">País:</label>
                <select class="form-control " id="pais">
                    <option value="">*</option>
                    <option value="paraguay">Paraguay</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">URL:</label>
                <input type="url" class="form-control" id="url">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-warning fw-bold">Enviar Formulario</button>
            </div>
        </form>
    </div>
</div>